.App {
  text-align: center;
  background: linear-gradient(rgb(167 165 178), rgb(49 5 91));
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fc6454 #e6e9ed;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #e6e9ed;
}

*::-webkit-scrollbar-thumb {
  background-color: #fc6454;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Portfolio 2020 styles */
.navB {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 4s;
}
.navB:hover {
  width: 300px;
  height: 300px;
}
